@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?6rzpms');
  src:  url('icomoon.eot?6rzpms#iefix') format('embedded-opentype'),
    url('icomoon.ttf?6rzpms') format('truetype'),
    url('icomoon.woff?6rzpms') format('woff'),
    url('icomoon.svg?6rzpms#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="b-icon-"], [class*=" b-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.b-icon-add:before {
  content: "\e900";
}
.b-icon-address-book:before {
  content: "\e901";
}
.b-icon-analysis-center:before {
  content: "\e902";
}
.b-icon-announcement .path1:before {
  content: "\e903";
}
.b-icon-announcement .path2:before {
  content: "\e904";
  margin-left: -1em;
}
.b-icon-announcement .path3:before {
  content: "\e905";
  margin-left: -1em;
}
.b-icon-announcement .path4:before {
  content: "\e906";
  margin-left: -1em;
}
.b-icon-app:before {
  content: "\e907";
}
.b-icon-application-Center:before {
  content: "\e908";
}
.b-icon-Application-management:before {
  content: "\e909";
}
.b-icon-approval:before {
  content: "\e90a";
}
.b-icon-arrow-down-bold:before {
  content: "\e90b";
}
.b-icon-arrow-down-filling:before {
  content: "\e90c";
}
.b-icon-arrow-left-bold:before {
  content: "\e90d";
}
.b-icon-arrow-left-filling:before {
  content: "\e90e";
}
.b-icon-arrow-right-bold:before {
  content: "\e90f";
}
.b-icon-arrow-right-filling:before {
  content: "\e910";
}
.b-icon-arrow-up-bold:before {
  content: "\e911";
}
.b-icon-arrow-up-filling:before {
  content: "\e912";
}
.b-icon-authority-management:before {
  content: "\e913";
}
.b-icon-avatar .path1:before {
  content: "\e914";
}
.b-icon-avatar .path2:before {
  content: "\e915";
  margin-left: -1em;
}
.b-icon-avatar .path3:before {
  content: "\e916";
  margin-left: -1em;
}
.b-icon-bag:before {
  content: "\e917";
}
.b-icon-basic-configuration:before {
  content: "\e918";
}
.b-icon-biological-asset-management .path1:before {
  content: "\e919";
}
.b-icon-biological-asset-management .path2:before {
  content: "\e91a";
  margin-left: -1em;
}
.b-icon-biological-asset-management .path3:before {
  content: "\e91b";
  margin-left: -1em;
}
.b-icon-biological-asset-management .path4:before {
  content: "\e91c";
  margin-left: -1em;
}
.b-icon-biological-asset-management .path5:before {
  content: "\e91d";
  margin-left: -1em;
}
.b-icon-biological-asset-management .path6:before {
  content: "\e91e";
  margin-left: -1em;
}
.b-icon-Breeding-management:before {
  content: "\e91f";
}
.b-icon-channel-management:before {
  content: "\e920";
}
.b-icon-circle-of-colleagues:before {
  content: "\e921";
}
.b-icon-close:before {
  content: "\e922";
}
.b-icon-cloud-disk:before {
  content: "\e923";
}
.b-icon-cloud-sign-in:before {
  content: "\e924";
}
.b-icon-colleagues-birthday .path1:before {
  content: "\e925";
}
.b-icon-colleagues-birthday .path2:before {
  content: "\e926";
  margin-left: -1em;
}
.b-icon-colleagues-birthday .path3:before {
  content: "\e927";
  margin-left: -1em;
}
.b-icon-colleagues-birthday .path4:before {
  content: "\e928";
  margin-left: -1em;
}
.b-icon-colleagues-birthday .path5:before {
  content: "\e929";
  margin-left: -1em;
}
.b-icon-colleagues-birthday .path6:before {
  content: "\e92a";
  margin-left: -1em;
}
.b-icon-colleagues-birthday .path7:before {
  content: "\e92b";
  margin-left: -1em;
}
.b-icon-colleagues-birthday .path8:before {
  content: "\e92c";
  margin-left: -1em;
}
.b-icon-colleagues-birthday .path9:before {
  content: "\e92d";
  margin-left: -1em;
}
.b-icon-commodity:before {
  content: "\e92e";
}
.b-icon-company-policy:before {
  content: "\e92f";
}
.b-icon-corporate-procurement .path1:before {
  content: "\e930";
}
.b-icon-corporate-procurement .path2:before {
  content: "\e931";
  margin-left: -1em;
}
.b-icon-corporate-procurement .path3:before {
  content: "\e932";
  margin-left: -1em;
}
.b-icon-coupon-logo:before {
  content: "\e933";
}
.b-icon-customer:before {
  content: "\e934";
}
.b-icon-customer-21 .path1:before {
  content: "\e935";
}
.b-icon-customer-21 .path2:before {
  content: "\e936";
  margin-left: -1em;
}
.b-icon-customer-21 .path3:before {
  content: "\e937";
  margin-left: -1em;
}
.b-icon-customer-21 .path4:before {
  content: "\e938";
  margin-left: -1em;
}
.b-icon-customer-21 .path5:before {
  content: "\e939";
  margin-left: -1em;
}
.b-icon-customer-21 .path6:before {
  content: "\e93a";
  margin-left: -1em;
}
.b-icon-Customer-Care:before {
  content: "\e93b";
}
.b-icon-customer-deduplication:before {
  content: "\e93c";
}
.b-icon-customer-management:before {
  content: "\e93d";
}
.b-icon-customer-visit:before {
  content: "\e93e";
}
.b-icon-daily-management:before {
  content: "\e93f";
}
.b-icon-delete:before {
  content: "\e940";
}
.b-icon-disk:before {
  content: "\e941";
}
.b-icon-ear-tag:before {
  content: "\e942";
}
.b-icon-edit:before {
  content: "\e943";
}
.b-icon-Enterprise-Cloud-Call .path1:before {
  content: "\e944";
}
.b-icon-Enterprise-Cloud-Call .path2:before {
  content: "\e945";
  margin-left: -1em;
}
.b-icon-enterprise-information-settings:before {
  content: "\e946";
}
.b-icon-error:before {
  content: "\e947";
}
.b-icon-fast-approval:before {
  content: "\e948";
}
.b-icon-finance:before {
  content: "\e949";
}
.b-icon-financial-center:before {
  content: "\e94a";
}
.b-icon-gray-logo .path1:before {
  content: "\e94b";
  opacity: 0.8;
}
.b-icon-gray-logo .path2:before {
  content: "\e94c";
  margin-left: -1em;
  opacity: 0.72;
}
.b-icon-gray-logo .path3:before {
  content: "\e94d";
  margin-left: -1em;
  opacity: 0.72;
}
.b-icon-high-seas-customers:before {
  content: "\e94e";
}
.b-icon-home:before {
  content: "\e94f";
}
.b-icon-knowledge-base:before {
  content: "\e950";
}
.b-icon-location:before {
  content: "\e951";
}
.b-icon-logistics-scheduling:before {
  content: "\e952";
}
.b-icon-Mall-customers:before {
  content: "\e953";
}
.b-icon-market:before {
  content: "\e954";
}
.b-icon-marketing-center:before {
  content: "\e955";
}
.b-icon-material-preparation-management:before {
  content: "\e956";
}
.b-icon-more:before {
  content: "\e957";
}
.b-icon-move:before {
  content: "\e958";
}
.b-icon-my-feedback .path1:before {
  content: "\e959";
}
.b-icon-my-feedback .path2:before {
  content: "\e95a";
  margin-left: -1em;
}
.b-icon-my-feedback .path3:before {
  content: "\e95b";
  margin-left: -1em;
}
.b-icon-National-Broker:before {
  content: "\e95c";
}
.b-icon-Official-website:before {
  content: "\e95d";
}
.b-icon-order:before {
  content: "\e95e";
}
.b-icon-organizational:before {
  content: "\e95f";
}
.b-icon-output:before {
  content: "\e960";
}
.b-icon-payment:before {
  content: "\e961";
}
.b-icon-person:before {
  content: "\e962";
}
.b-icon-person-account .path1:before {
  content: "\e963";
}
.b-icon-person-account .path2:before {
  content: "\e964";
  margin-left: -1em;
}
.b-icon-person-account .path3:before {
  content: "\e965";
  margin-left: -1em;
}
.b-icon-person-arror:before {
  content: "\e966";
}
.b-icon-person-camera .path1:before {
  content: "\e967";
  opacity: 0.4209;
}
.b-icon-person-camera .path2:before {
  content: "\e968";
  margin-left: -1em;
}
.b-icon-person-company:before {
  content: "\e969";
}
.b-icon-person-home .path1:before {
  content: "\e96a";
}
.b-icon-person-home .path2:before {
  content: "\e96b";
  margin-left: -1em;
}
.b-icon-person-info:before {
  content: "\e96c";
}
.b-icon-person-password:before {
  content: "\e96d";
}
.b-icon-phone-call:before {
  content: "\e96e";
}
.b-icon-pig-production:before {
  content: "\e96f";
}
.b-icon-Production:before {
  content: "\e970";
}
.b-icon-production-base-configuration:before {
  content: "\e971";
}
.b-icon-production-center:before {
  content: "\e972";
}
.b-icon-production-plan:before {
  content: "\e973";
}
.b-icon-production-plan-to-be-scheduled:before {
  content: "\e974";
}
.b-icon-project:before {
  content: "\e975";
}
.b-icon-project-management:before {
  content: "\e976";
}
.b-icon-QR-code:before {
  content: "\e977";
}
.b-icon-Quality-inspection:before {
  content: "\e978";
}
.b-icon-salary:before {
  content: "\e979";
}
.b-icon-sales:before {
  content: "\e97a";
}
.b-icon-search:before {
  content: "\e97b";
}
.b-icon-select:before {
  content: "\e97c";
}
.b-icon-sell:before {
  content: "\e97d";
}
.b-icon-selling-centre:before {
  content: "\e97e";
}
.b-icon-setting:before {
  content: "\e97f";
}
.b-icon-sheep-data-analysis .path1:before {
  content: "\e980";
}
.b-icon-sheep-data-analysis .path2:before {
  content: "\e981";
  margin-left: -1em;
}
.b-icon-sheep-data-analysis .path3:before {
  content: "\e982";
  margin-left: -1em;
}
.b-icon-sheep-data-analysis .path4:before {
  content: "\e983";
  margin-left: -1em;
}
.b-icon-sheep-data-analysis .path5:before {
  content: "\e984";
  margin-left: -1em;
}
.b-icon-sheep-data-analysis .path6:before {
  content: "\e985";
  margin-left: -1em;
}
.b-icon-shopping-cart:before {
  content: "\e986";
}
.b-icon-Shopping-mall:before {
  content: "\e987";
}
.b-icon-Smart-CRM:before {
  content: "\e988";
}
.b-icon-SMS-Marketing .path1:before {
  content: "\e989";
}
.b-icon-SMS-Marketing .path2:before {
  content: "\e98a";
  margin-left: -1em;
}
.b-icon-SMS-Marketing .path3:before {
  content: "\e98b";
  margin-left: -1em;
}
.b-icon-SMS-Marketing .path4:before {
  content: "\e98c";
  margin-left: -1em;
}
.b-icon-submit-order:before {
  content: "\e98d";
}
.b-icon-task-process-configuration:before {
  content: "\e98e";
}
.b-icon-three-line:before {
  content: "\e98f";
}
.b-icon-voice-call:before {
  content: "\e990";
}
.b-icon-Warehousing:before {
  content: "\e991";
}
.b-icon-work:before {
  content: "\e992";
}
.b-icon-workbench:before {
  content: "\e993";
}
.b-icon-work-log:before {
  content: "\e994";
}
.b-icon-work-order:before {
  content: "\e995";
}
.b-icon-work-together:before {
  content: "\e996";
}
.b-icon-yunjike:before {
  content: "\e997";
}
.b-icon-zsq-finance:before {
  content: "\e998";
}
.b-icon-zsq-order:before {
  content: "\e999";
}
.b-icon-zsq-Salary:before {
  content: "\e99a";
}
