.b-select {
  position: relative;
  display: block;
  width: 260px;

  .show-box {
    box-sizing: border-box;
    min-height: 40px;
    padding: 5px 35px 0 16px;
    overflow: hidden;
    font-size: 14px;
    line-height: 28px;
    white-space: nowrap;
    background: #fff;
    border: 1px solid @line;
    border-radius: 4px;

    .show-box-inline {
      display: inline-block;
      max-width: 100%;
      overflow: hidden;
      vertical-align: top;
    }

    &.show-box-hover {
      border: 1px solid @border;
    }

    &.show-box-placeholder {
      color: @secondaryText;
    }

    &.show-box-focus {
      border: 1px solid @mainColor;
    }

    &.show-box-disabled {
      color: @secondaryText;
      cursor: not-allowed;
      border: 1px solid @line;

      //.show-box-inline {
      //  color: @secondaryText;
      //}
    }

    &.show-box-multiple {
      padding: 5px 35px 0 5px;
    }

    .tags {
      padding: 0;
      margin: 0;
    }

    .tag {
      position: relative;
      float: left;
      padding: 0 28px 0 12px;
      margin-right: 4px;
      margin-bottom: 5px;
      background: #f5f7fb;
      border-radius: 4px;
    }

    .tag-close {
      position: absolute;
      top: 7px;
      right: 7px;
      z-index: 2;
      padding: 2px;
      cursor: pointer;
      border-radius: 50%;

      &:hover {
        color: #fff !important;
        background: #909399;
      }
    }

    &.show-box-non {
      height: 68px;
      padding: 0 16px;
      line-height: 68px;
      text-align: center;
      border: none;

      .show-box-inline {
        max-width: calc(100% - 20px);
      }
    }
  }

  .arrow-down {
    position: absolute;
    top: 13px;
    right: 10.5px;
    color: @secondaryText;
  }

  .error-down {
    position: absolute;
    top: 13px;
    right: 10.5px;
    z-index: 2;
    color: @secondaryText;
    cursor: pointer;
  }

  .arrow-inline {
    margin-top: 27px;
    margin-left: 6px;
    color: @secondaryText;
    vertical-align: top;
  }

  .error-inline {
    z-index: 2;
    margin-top: 27px;
    margin-left: 6px;
    color: @secondaryText;
    vertical-align: top;
    cursor: pointer;
  }

  .arrow-roate {
    transform: rotateZ(180deg);
  }

  .b-input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0;

    .b-input-inner {
      width: 100%;
      height: 100%;

      &.is-readonly {
        cursor: pointer;
        background: #fff;
      }
    }

    &.input-disabled {
      .b-input-inner {
        cursor: not-allowed;
      }
    }
  }

  .dropdown {
    position: absolute;
    left: 0;
    z-index: 9;
    width: 100%;
    white-space: nowrap;

    &.dropdown-top {
      top: 100%;
      padding-top: 8px;
    }

    &.dropdown-bottom {
      bottom: 100%;
      padding-bottom: 8px;
    }

    .dropdown-box {
      max-height: 224px;
      overflow-x: hidden;
      overflow-y: auto;
      background: #fff;
      border-radius: 8px;
      box-shadow: 0 8px 40px 0 rgb(100 107 122 / 15%);

      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar:horizontal {
        height: 6px;
      }

      &::-webkit-scrollbar-track {
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: @line;
        border-radius: 10px;
        transition: all 0.2s ease-in-out;
      }

      &::-webkit-scrollbar-thumb:hover {
        cursor: pointer;
        background-color: #d4e5fa;
      }
    }

    &-list {
      box-sizing: border-box;
      padding: 10px 0;
      margin: 0;
      list-style: none;

      .option {
        padding: 0 24px;
        overflow: hidden;
        font-size: 14px;
        line-height: 40px;
        cursor: pointer;

        &:hover {
          background: @backgroundColor;
        }

        &.selected {
          color: @mainColor;
          background: @backgroundColor;
        }

        &.disabled {
          color: @secondaryText;

          &:hover {
            cursor: not-allowed;
            background: transparent;
          }
        }
      }
    }
  }

  &.b-select-multiple {
    .b-input .b-input-inner.is-readonly {
      cursor: default;
    }
  }

  &.b-select-non {
    width: 160px;

    .dropdown {
      top: 100%;
    }

    .dropdown-list {
      padding: 20px;

      .option {
        padding: 0;
      }
    }
  }

  &.b-select-inline {
    display: inline-block;
    vertical-align: middle;
  }
}
