@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?43y1h4');
  src:  url('icomoon.eot?43y1h4#iefix') format('embedded-opentype'),
    url('icomoon.ttf?43y1h4') format('truetype'),
    url('icomoon.woff?43y1h4') format('woff'),
    url('icomoon.svg?43y1h4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="b-icon-"], [class*=" b-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.b-icon-add:before {
  content: "\e900";
}
.b-icon-app:before {
  content: "\e901";
}
.b-icon-approval:before {
  content: "\e902";
}
.b-icon-arrow-down-bold:before {
  content: "\e903";
}
.b-icon-arrow-down-filling:before {
  content: "\e904";
}
.b-icon-arrow-left-bold:before {
  content: "\e905";
}
.b-icon-arrow-left-filling:before {
  content: "\e906";
}
.b-icon-arrow-right-bold:before {
  content: "\e907";
}
.b-icon-arrow-right-filling:before {
  content: "\e908";
}
.b-icon-arrow-up-bold:before {
  content: "\e909";
}
.b-icon-arrow-up-filling:before {
  content: "\e90a";
}
.b-icon-bag:before {
  content: "\e90b";
}
.b-icon-close:before {
  content: "\e90c";
}
.b-icon-customer:before {
  content: "\e90d";
}
.b-icon-disk:before {
  content: "\e90e";
}
.b-icon-edit:before {
  content: "\e90f";
}
.b-icon-error:before {
  content: "\e910";
}
.b-icon-finance:before {
  content: "\e911";
}
.b-icon-home:before {
  content: "\e912";
}
.b-icon-location:before {
  content: "\e913";
}
.b-icon-market:before {
  content: "\e914";
}
.b-icon-more:before {
  content: "\e915";
}
.b-icon-order:before {
  content: "\e916";
}
.b-icon-output:before {
  content: "\e917";
}
.b-icon-person:before {
  content: "\e918";
}
.b-icon-project:before {
  content: "\e919";
}
.b-icon-salary:before {
  content: "\e91a";
}
.b-icon-sales:before {
  content: "\e91b";
}
.b-icon-search:before {
  content: "\e91c";
}
.b-icon-select:before {
  content: "\e91d";
}
.b-icon-sell:before {
  content: "\e91e";
}
.b-icon-setting:before {
  content: "\e91f";
}
.b-icon-work:before {
  content: "\e920";
}
